:host {
  display: block;
  padding: 1rem;
}

mat-card {
  max-width: 800px;
  margin: 0 auto;
}

img[mat-card-image] {
  max-height: 300px;
  object-fit: cover;
}

mat-card-content {
  padding: 1rem;
  
  p {
    margin-bottom: 1rem;
  }
}