<mat-card>
  <img
    mat-card-image
    src="assets/images/classroom.jpg"
    alt="Classroom"
  />

  <mat-card-header>
    <mat-card-subtitle>
      Classroom Attendance Manager
    </mat-card-subtitle>
    <mat-card-title> A10Dance </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <p>
      A10Dance is an attendance application originally
      designed to help Sunday School teachers keep
      track of the students in their classes.
    </p>

    <a mat-button color="primary" routerLink="/roster">
      Go to Roster
    </a>
  </mat-card-content>
</mat-card>
