$header-height: 56px;
$action-section-height: 206px;
$full-size: 100%;
$white: #fff;

@import './variables.scss';

body {
    // RA components use these
    // --font-family-base-theme: InspireTWDC, Arial, sans-serif;
    // --font-family-light-theme: InspireTWDC, Arial, sans-serif;
    // --font-family-heavy-theme: InspireTWDC, Arial, sans-serif;
    // --font-family-black-theme: InspireTWDC, Arial, sans-serif;
    // --font-family-medium-theme: InspireTWDC, Arial, sans-serif;
    // --font-family-roman-theme: InspireTWDC, Arial, sans-serif;
    // --font-family-book-theme: InspireTWDC, Arial, sans-serif;

    --dine-res-accent-color: #0079bc;
    --dine-res-anchor-color: #0079bc;
    --dine-res-anchor-focus-outline: #78899e;
    --dine-res-anchor-focus-text-decoration: underline;
    --dine-res-background-color: #fff;
    --dine-res-background-component: #fff;
    --dine-res-basic-white: #fff;
    --dine-res-basic-black: #000;
    --dine-res-border-color: #d0d7de;
    --dine-res-footer-line-background-color: #fff;
    --dine-res-hr-color: #d0d7de; //TODO review grey 100 usage
    --dine-res-tooltip-color: #0079bc;
    --dine-res-primary-color: #083c5d;
    --dine-res-font-light: 100;
    // Primary
    --dine-res-primary-action: #0079bc;
    --dine-res-primary-active: #083c5d;
    --dine-res-primary-color: #083c5d;
    --dine-res-primary-disabled: #b7e4f7;
    --dine-res-primary-focus: #fff;
    --dine-res-primary-hover: #0079bc;
    // Reversed
    --dine-res-reversed-action: transparent;
    --dine-res-reversed-active: #253b56;
    --dine-res-reversed-color: #fff;
    --dine-res-reversed-disabled: transparent;
    --dine-res-reversed-hover: #253b56;
    // Secondary
    --dine-res-secondary-action: #fff;
    --dine-res-secondary-active: #083c5d;
    --dine-res-secondary-disabled: #fff;
    --dine-res-secondary-hover: #0079bc;
    // Tertiary
    --dine-res-tertiary-action: #e6f9ff;
    --dine-res-tertiary-disabled: #b7e4f7;
    --dine-res-tertiary-hover: #0079bc;

    // Header
    --header-background-color: var(--orange-500);
    --header-title-color: white;
    --header-height: #{$header-height};
    // --header-user-badge-text-color: #{$white};
    // --header-user-badge-background-color: #{$aqua-800};

    // RA Components

    // WDPR Switch
    --wdpr-switch-height: 28px;
    --wdpr-switch-width: 50px;
    --wdpr-switch-border-radius: 25px;
    --wdpr-switch-circle-radius: 26px;
    --wdpr-switch-circle-shadow: 0 3px 4px 0 rgb(37 59 86 / 35%);
    --wdpr-switch-circle-unselected-right: 24px;
    --wdpr-switch-circle-top: 1px;
    --wdpr-switch-circle-selected-right: 2px;
    --wdpr-switch-circle-border-radius: 12px;
    --wdpr-switch-toggle-duration: 250ms;
    --wdpr-switch-selected-bg-color: var(--warm-gray-700);
    --wdpr-switch-unselected-bg-color: var(--warm-gray-700);
    --wdpr-switch-circle-bg-color: white;

    // Spacing
    --space-000: 0;
    --space-025: 2px;
    --space-050: 4px;
    --space-100: 8px;
    --space-125: 10px;
    --space-150: 12px;
    --space-175: 14px;
    --space-200: 16px;
    --space-300: 24px;
    --space-400: 32px;
    --space-500: 40px;
    --space-550: 44px;
    --space-600: 48px;
}